html { 
	height: 90% 
}

body { 
	height: 100%;
}

h1, 
h2 {
    text-align: center;
    color: #339966!important;
}
.filter{
    margin-left: 25px;
}
.searchtext{
    color: black;
}
.name {
    font-size: 14px;
    font-weight: bold;
    color: gray!important;
}

li :hover {
    font-weight: bold;
}

#map-canvas { 
	height: 100% 
}

.controls {
    margin-top: 15px;
    border: 1px solid transparent;
    height: 32px;
}

#list {
    background-color: white;
    border-radius: 20px;
    margin-left: 20px;
    overflow: auto;
    width: 25%;
    height: 65%;

}
/*Allow for manipulation of elements when screen is small*/
@media screen and (max-width: 550px) {
    #pac-input {
        width: 90%;
    }
    #pac-input:focus {
        width: 80%;
    }
    #list{
        width:40%;
    }
}

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    width: 300px;
}

