html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#map {
    height: 90%;
    width: 80%;
    float: right;
}

.title{
	text-align: center;
	background-color: #d8d8d8;
	color: #003366;
}